@model IEnumerable<RentalKendaraan_070.Models.Pengembalian>

@{
    ViewData["Title"] = "Index";
}

<h2>Tambah Data Kendaraan</h2>
 
<p> 
    <a asp-action="Create">Tambah Data Pengembalian</a>
</p>

@using (Html.BeginForm("Index", "Pengembalians", FormMethod.Get))
{
    <p>
        Tanggal Pengembalian: @Html.DropDownList("ktsd", "Pilih Tanggal")
        Data Denda : @Html.TextBox("searchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayName("Tgl Pengembalian")*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tanggal Pengembalian</a>
            </th>
            <th>
                @Html.DisplayName("Denda")
            </th>
            <th>
                @*@Html.DisplayName("Nama Kondisi")*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nama Kondisi</a>
            </th>
            <th>
                @Html.DisplayName("Tgl Peminjaman")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TglPengembalian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Denda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKondisiNavigation.NamaKondisi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPeminjamanNavigation.TglPeminjaman)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPengembalian">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPengembalian">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPengembalian">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
